/* people === violet */

.people_solid_left {
  background-color: #b6d8fc;
}

.violet_solid_left {
  background-color: #b6d8fc;
}

.blue_solid_left {
  background-color: #fff6ee;
}
.pink_solid_left {
  background-color: #e9f4ff;
}

.lotus-pink_solid_left {
  background-color: #e9f4ff;
}

.green_solid_left {
  background-color: #d3d6f2;
}

/* people === violet */
.people_solid_right {
  background-color: #b8c8f1;
}

.violet_solid_right {
  background-color: #b8c8f1;
}

.blue_solid_right {
  background-color: #ffefe7;
}
.pink_solid_right {
  background-color: #eaeefa;
}
.lotus-pink_solid_right {
  background-color: #eaeefa;
}

.green_solid_right {
  background-color: #e4dbf9;
}

/* Mobile Solid */
.blue_mobile_top {
  background-color: #fff4ec;
}

.blue_mobile_bottom {
  background-color: #fee9e1;
}

/* people === violet */
.people_gradient_rectangle_left {
  background: conic-gradient(from 243deg at 60% 55%, #b6dcff 0%, #b9b7e5 100%);
}

.violet_gradient_rectangle_left {
  background: conic-gradient(from 243deg at 75% 25%, #b6dcff, #b9b7e5);
}

.blue_gradient_rectangle_left {
  background:conic-gradient(from 243deg at 66% 61%, #FFF7EF 0%, #FEE8E0 100%);
}

.pink_gradient_rectangle_left {
  background: conic-gradient(from 243deg at 62% 57%, #e9f4ff 0%, #eae9f7 100%);
}

.green_gradient_rectangle_left {
  background: conic-gradient(from 243deg at 75% 25%, #d2d6f2, #f2e0ff);
}

.people_gradient_rectangle_right {
  background: conic-gradient(from 243deg at 28% 52%, #b6dcff 0%, #b9b7e5 100%);
}

.violet_gradient_rectangle_right {
  background: conic-gradient(from 243deg at 25% 75%, #b6dcff, #b9b7e5);
}

.blue_gradient_rectangle_right {
  background: conic-gradient(from 243deg at 32% 48%, #fff7ef 0%, #fee8e0 100%);
}

.pink_gradient_rectangle_right {
  background: conic-gradient(from 243deg at 28% 47%, #e9f4ff 0%, #eae9f7 100%);
}

.green_gradient_rectangle_right {
  background: conic-gradient(from 243deg at 25% 75%, #d2d6f2, #f2e0ff);
}

/*  */

.people_gradient_rectangle {
  background: conic-gradient(from 243deg at 50% 50%, #b6dcff, #b9b7e5);
}

.violet_gradient_rectangle {
  background: conic-gradient(from 243deg at 50% 50%, #b6dcff, #b9b7e5);
}

.blue_gradient_rectangle {
  background: conic-gradient(from 243deg at 50% 50%, #fff7ef, #fee8e0);
}

.pink_gradient_rectangle {
  background: conic-gradient(from 243deg at 50% 50%, #e9f4ff, #eae9f7);
}

.green_gradient_rectangle {
  background: conic-gradient(from 243deg at 50% 50%, #d2d6f2, #f2e0ff);
}

.square_gradient {
  width: 100%;
  height: 100%;
}

.notification_gradient {
  background: linear-gradient(90deg, #1cedaf 0%, #00f1b7 50%, #00f2b5 100%);
}

.small_banner {
  min-height: 465px;
}

@media screen and (max-width: 1024px) {
}
