@charset "UTF-8";
/* Slider */
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: '→';
}
[dir='rtl'] .slick-next:before {
  content: '←';
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li {
  position: relative;

  display: inline-block;

  width: 10px;
  height: 10px;
  margin: 0 5px;
  padding: 0;

  border: 1px solid;
  border-radius: 100%;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 10px;
  height: 10px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: 0;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: 0;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
  outline: 0;
  border-radius: 100%;
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 10px;
  height: 10px;

  content: '';
  text-align: center;

  opacity: 0.25;
  color: black;
  border-radius: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  transform: translateY(-1px) translateX(-1px);
  opacity: 1;
  background-color: black;
  color: black;
}

.mood_prev {
  display: flex;
  width: max-content;
  top: 35%;
  transform: translateY(22px) translateX(22px) rotate(180deg);
}

.mood_next {
  display: flex;
  width: max-content;
  top: 35%;
  transform: translateX(-22px);
}

.slideshow_prev {
  display: flex;
  width: max-content;
  transform: translateY(12px) translateX(-20px) rotate(180deg);
}

.slideshow_next {
  display: flex;
  width: max-content;
  transform: translateX(20px) translateY(-10px);
}

@media screen and (max-device-width: 640px) {
  .mood_prev {
    display: flex;
    width: max-content;
    top: calc(40vw - 25%);
    transform: translateY(20px) translateX(-18px) rotate(180deg);
  }
  .mood_next {
    display: flex;
    width: max-content;
    top: calc(40vw - 25%);
    transform: translateX(18px);
  }
  .slideshow_prev {
    display: flex;
    width: max-content;
    transform: translateY(12px) translateX(-16px) rotate(180deg);
  }

  .slideshow_next {
    display: flex;
    width: max-content;
    transform: translateX(16px) translateY(-10px);
  }
}
/*  */

@media screen and (min-width: 640px) and (max-width: 1024px) {
  .mood_prev {
    display: flex;
    width: max-content;
    top: calc(35vw - 30%);
    transform: translateY(22px) translateX(22px) rotate(180deg);
  }

  .mood_next {
    display: flex;
    width: max-content;
    top: calc(35vw - 30%);
    transform: translateX(-22px);
  }
}
