@layer components {
  .menu-level-one-link  {
    @apply block pt-1 pb-0.5 uppercase text-tiny font-textFont font-bold tracking-wide md:p-2 md:text-tiny lg:px-4 lg:text-tiny xl:px-6
  }

  .section-headline {
    @apply uppercase font-bold tracking-wide text-base md:text-base xxl:text-2xl
  }

  .section-spacing {
    @apply py-12 sm:py-8 md:py-20
  }

  .section-content-width {
    @apply max-w-content-xl m-auto px-4 lg:px-6
  }

  .link-style {
    @apply uppercase font-bold tracking-wide text-tiny
  }

  .slider-nav-item {
    @apply inline-flex w-2.5 h-2.5 bg-gray-200 rounded-full relative m-2
  }

  .slider-nav-item__active {
    @apply bg-gray-600
  }
}


@layer base{
  h1,h2{
    @apply text-2xl font-subtitleFont font-bold 
  },
  h3{
    @apply text-base font-subtitleFont font-normal uppercase
  },
  h4{
    @apply text-tiny font-subTagFont font-medium
  },
  h5,h6{
    @apply text-tiny font-subTagFont font-normal
  },
  p{
    @apply text-tiny font-textFont font-light
  },
  a{
    @apply text-tiny font-subTagFont font-semibold underline text-greenLink
  },
  a:hover,a:focus,a:active{
    @apply text-tiny font-subTagFont font-semibold text-greenLink
  }

}