@layer components {
  .menu-level-one-link {
    @apply block pt-1 pb-0.5 uppercase text-tiny font-textFont font-bold tracking-wide md:p-2 md:text-tiny lg:px-4 lg:text-tiny xl:px-6;
  }

  .section-headline {
    @apply uppercase font-bold tracking-wide text-base md:text-base xxl:text-2xl;
  }

  .section-spacing {
    @apply py-12 sm:py-8 md:py-20;
  }

  .section-content-width {
    @apply max-w-content-xl m-auto px-4 lg:px-6;
  }

  .link-style {
    @apply uppercase font-bold tracking-wide text-tiny;
  }

  .slider-nav-item {
    @apply inline-flex w-2.5 h-2.5 bg-gray-200 rounded-full relative m-2;
  }

  .slider-nav-item__active {
    @apply bg-gray-600;
  }
}

@layer base {
  html {
    font-size: 17px;
  }
  h1,
  h2 {
    line-height: 1.7647rem;
    font-size: 1.529411rem;
    letter-spacing: 0.058823529rem;
    @apply font-titleFont uppercase font-semibold;
  }

  h3 {
    line-height: 1.235294118rem;
    font-size: 1.058823529rem;
    letter-spacing: 0.058823529rem;
    @apply font-titleFont uppercase font-semibold;
  }

  h4 {
    line-height: 1.352941176rem;
    font-size: 1rem;
    @apply font-tagFont font-medium;
  }

  h5,
  h6 {
    line-height: 1.352941176rem;
    font-size: 1rem;
    @apply font-subTagFont font-normal;
  }

  p {
    line-height: 1.353;
    font-size: 1em;
    @apply font-textFont font-light;
  }

  a {
    @apply text-tiny font-subTagFont font-semibold underline text-greenLink;
  }

  a:hover,
  a:focus,
  a:active {
    @apply text-tiny font-subTagFont font-semibold text-greenLink;
  }
  .kicker {
    font-size: 1.0588rem;
    @apply text-base font-subTagFont;
  }

  .h3_element {
    line-height: 1.235294118rem;
    font-size: 1.058823529rem;
    letter-spacing: 0.058823529rem;
    @apply font-titleFont uppercase font-semibold;
  }
  .h3_element_normalcase {
    line-height: 1.235294118rem;
    font-size: 1.058823529rem;
    letter-spacing: 0.058823529rem;
    @apply font-titleFont;
  }
  .h2_element {
    line-height: 1.7647rem;
    font-size: 1.529411rem;
    letter-spacing: 0.058823529rem;
    @apply font-titleFont uppercase font-semibold;
  }
  .static-page-section > h1,
  h2 {
    line-height: 1.7647rem;
    font-size: 1.529411rem;
    letter-spacing: 0.058823529rem;
    @apply font-titleFont uppercase font-semibold;
  }
  .static-page-section > p {
    margin: 5px 0 5px 0;
    line-height: 1.353;
    font-size: 1rem;
    @apply font-textFont font-light;
  }
  .static-page-section > p > strong {
    @apply font-bold;
  }
  .static-page-section > h4 {
    line-height: 1.352941176rem;
    font-size: 1rem;
    @apply font-tagFont font-medium;
  }
}
