@import "./globals/custom.css";
@import "./globals/burger-menu.css";
@import "./globals/menu.css";
@import "./globals/custom-global-styles.css";
@import "./globals/slider-scrollbar.css";
@import "./globals//gradient.css";


/* defaults for the page (like the text color, background color, or font family) */
@import "tailwindcss/base";
@import "./base/_index.css";

/* components layer for any more complicated classes (like card, btn, badge) */
@import "tailwindcss/components";
@import "./components/custom-components.css";

/* CSS features that Tailwind doesn’t include utilities for out of the box */
@import "tailwindcss/utilities";
@import "./utilities/custom-utilities.css";

@font-face {
    font-family: 'SourceCodeProRegular';
    font-style: normal;
    font-display:swap;
    src: url('/fonts/SourceCode/SourceCodePro-Regular.ttf') format('truetype');
    
}

@font-face {
    font-family: 'SourceCodeProSemibold';
    font-style: normal;
    font-display:swap;
    src: url('/fonts/SourceCode/SourceCodePro-SemiBold.ttf') format('truetype');
    
}

@font-face {
    font-family: 'WorkSansMedium';
    font-style: normal;
    font-display:swap;
    src: url('/fonts/WorkSans/WorkSans-Medium.ttf') format('truetype');
    
}

@font-face {
    font-family: 'WorkSansRegular';
    font-style: normal;
    font-display:swap;
    src: url('/fonts/WorkSans/WorkSans-Regular.ttf') format('truetype');
    
}

@font-face {
    font-family: 'WorkSansLight';
    font-style: normal;
    font-display:swap;
    src: url('/fonts/WorkSans/WorkSans-Light.ttf') format('truetype');
    
}
@font-face {
    font-family: 'WorkSansSemiBold';
    font-style: normal;
    font-display:swap;
    src: url('/fonts/WorkSans/WorkSans-SemiBold.ttf') format('truetype');
    
}



h1, h2 {
    font-family: SourceCodeProSemibold;
    font-size: 26px;
    line-height: 30px;
    word-spacing: -15px;
}

h3{
    font-family: SourceCodeProRegular;
    font-size: 18px;
    line-height: 21px;
  
    font-style: normal;
    font-display: swap;

}

h4{
    font-family: WorkSansMedium;
    font-size: 17px;
    line-height: 23px;
    font-style: normal;
}

h5, h6{
    font-family: WorkSansRegular;
    font-size: 17px;
    line-height: 23px;
    font-style: normal;
}

p{
    font-family: WorkSansLight;
    font-size: 17px;
    line-height: 23px;
    font-style: normal;
  
}

p.caption strong {
    font-family: WorkSansSemiBold;
    font-size: 17px;
    line-height: 23px;
    font-style: normal;
}

a{
    font-family: WorkSansSemiBold;
    font-size: 17px;
    line-height: 23px;
    font-style: normal;
    color: #9cd4b9;
    text-decoration: underline;
}