@import "./globals/custom.css";
@import "./globals/burger-menu.css";
@import "./globals/menu.css";
@import "./globals/custom-global-styles.css";
@import "./globals/slider-scrollbar.css";
@import "./globals//gradient.css";


/* defaults for the page (like the text color, background color, or font family) */
@import "tailwindcss/base";
@import "./base/_index.css";


/* components layer for any more complicated classes (like card, btn, badge) */
@import "tailwindcss/components";
@import "./components/custom-components.css";

/* CSS features that Tailwind doesn’t include utilities for out of the box */
@import "tailwindcss/utilities";
@import "./utilities/custom-utilities.css";

@font-face {
    font-family: 'SourceCodeProRegular';
    font-style: normal;
    font-display:swap;
    src: url('/fonts/SourceCode/SourceCodePro-Regular.woff2') format('truetype');
    
}

@font-face {
    font-family: 'SourceCodeProSemibold';
    font-style: normal;
    font-display:swap;
    src: url('/fonts/SourceCode/SourceCodePro-SemiBold.woff2') format('truetype');
    
}

@font-face {
    font-family: 'WorkSansMedium';
    font-style: normal;
    font-display:swap;
    src: url('/fonts/WorkSans/WorkSans-Medium.woff2') format('truetype');
    
}

@font-face {
    font-family: 'WorkSansRegular';
    font-style: normal;
    font-display:swap;
    src: url('/fonts/WorkSans/WorkSans-Regular.woff2') format('truetype');
    
}

@font-face {
    font-family: 'WorkSansLight';
    font-style: normal;
    font-display:swap;
    src: url('/fonts/WorkSans/WorkSans-Light.woff2') format('truetype');
    
}
@font-face {
    font-family: 'WorkSansSemiBold';
    font-style: normal;
    font-display:swap;
    src: url('/fonts/WorkSans/WorkSans-SemiBold.woff2') format('truetype');
    
}